body{
    background-color: rgb(24, 23, 31);
}

.maincontainer {
    width: 1440px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }

  .passwordheading
  {
    color: #817D92;
    font-family: JetBrains Mono;
    font-size: 24px;
    font-weight: 700;
    width: 1440px;
    height:1em;
  }

  .passwordgroupbox{
    font-family: JetBrains Mono;

    width: 548px;
    height: 632px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

  }

  .passwordbox{
    box-sizing: border-box;
    color: #E6E5EA;
    font-size: 32px;
    width: 548px;
    height:80px;
    background-color: rgb(36,35,44);
    display: flex;
    justify-content:space-between;
    align-items: center ;
    padding-left: 1rem;
    padding-right: 1rem
  }

  .passwordsettingsbox{
    width: 548px;
    height:528px;
    background-color: rgb(36,35,44);
  }
