@font-face {
    font-family: "JetBrainsMono";
    src: url("../assets/fonts/JetBrainsMono-Bold.ttf");
  }
  
  @font-face {
    font-family: "JetBrainsMonoItalic";
    src: url("/assets/fonts/JetBrainsMono-BoldItalic.ttf");
  }
  
  @font-face {
    font-family: "JetBrainsMonoItaliac";
    src: url("/assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");
  }
  
  @font-face {
    font-family: "JetBrainsMonoVariableFontWeight";
    src: url("/assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
  }

  $cardWidth:548px;
  $barWidth:476px;
  $green:#A4FFAF;
  $red:#F64A4A;
  $orange:#FB7C58;
  $yellow:#F8CD65;
  $white:#E6E5EA;
 $dark: rgb(36,35,44);

  @mixin ColorBox($color){
    width: 10px;
    height: 28px;
    background-color:$color;
    border:green;
    border-width: 10px;
  }

  .headingL {
    font-family:JetBrainsMono;
    font-size: 32px;
    line-height: 43px;
  }

  .headingM {
    font-family:JetBrainsMono;
    font-size: 24px;
    line-height: 31px;
  }
  
  .Body {
    font-family:JetBrainsMono;
    font-size: 18px;
    line-height: 23px;
  }

  body{
      background-color: rgb(24, 23, 31); 
  }
  
  .maincontainer {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1rem;
    }
  
    .passwordheading
    {
      color: #817D92;
      font-family:JetBrainsMono;
      font-size: 24px;
      font-weight: 700;
      width: 1440px;
      height:1em;
    }
  
    .passwordgroupbox{
      font-family: JetBrainsMono;
      width: $cardWidth;
      height: 800px;
      display: flex;
      flex-direction: column;
      justify-items: center;
      row-gap: 2rem;
  
    }
  
    .characterlengthbox{
      box-sizing: border-box;
      width: 100%;
      height:60px;
      display: flex;
      align-items: center;
      justify-content:space-between;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  
    .characterlegnthtext{
      color:$white;
      font-size: 18px;
  
    }
  
    .characterlegnth{
      color:$green;
      font-family: JetBrains Mono;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      width: 2em;
      background-color: transparent;
      border: none;
    }
  
    .passwordbox{
      box-sizing: border-box;
      color: $white;
      font-size: 32px;
      width: $cardWidth;
      height:80px;
      background-color: $dark;
      display: flex;
      justify-content:space-between;
      align-items: center ;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .passwordsettingsbox{
      width: $cardWidth;
      height:auto;
      background-color: $dark;
      display: flex;
      flex-direction: column;
      align-items: center ;
      row-gap: 1rem ;
      padding-bottom: 1rem;
    }
  
    .checkboxgroup
    {
      display: flex;
      width: $barWidth;
      height:auto;
      flex-direction: column;
      align-items: start;
      row-gap: 0.5rem;

        label {
          color: $white;
          font-family: JetBrainsMonoVariableFontWeight;
          font-size: 18px;
          font-weight: 700;
        }

      input[type='checkbox']{
        accent-color:$green;
        height: 20px;
        width: 20px;
        background-color: $green;
        background:$green;
        color:$green;
      }
    
    }
  
  
    .strengthBar
    {
      width: $barWidth;
      height:4em;
      background-color: #18171F;
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
      justify-items: center;
    }
    .StrengthBox{
      display: flex;
      width: auto;
      height: auto;
      align-content: center;

      font-size:18px ;
      font-family: JetBrains Mono;
      color:#E6E5EA ;
    }
    .strengthText{
      color: #817D92;
      font-family: JetBrainsMonoVariableFontWeight;
      font-size: 24px;
      font-weight: 700;
      text-align: left;
    }
  
    .generateButton
    {
        width: $barWidth;
        height: 65px;
        font-family: JetBrainsMonoVariableFontWeight;
        font-size: 18px;
        font-weight: 700;
        background-color: $green;
        &:hover{
          background-color: $dark;
          color:$green;
        }
    }
  
    .colorbar{
      width: 18px;
      height:28px;
    }

    .slidecontainer {
      width:85%;
    }

    .copied {
      display:none;
      font-family:JetBrains Mono;
      font-size: 18px;
      color:$green;
    }
    
  //  .slider:hover {
  //     opacity: 1;      
  //   }

    input[type='range'] {
      width: 90%;
      height: 10px;
      accent-color:#A4FFAF;
      background-color: transparent;
      &:hover {
        opacity:1
      }

   } 

   .redcolorbox{
    @include ColorBox( $red);
   }

   .orangecolorbox{
    @include ColorBox($orange);
   }

   .yellocolorbox{
    @include ColorBox($yellow)
   }

   .greencolorbox{
    @include ColorBox($green)
   }

   .emptycoloxbox{
    @include ColorBox($white)
   }

   .strengthbarscontainer{
    display: flex;
    width:100%; 
    justify-content:end;
    align-items: center;
    gap:1rem;
    padding-right: 2rem;
   }

   .strengthbars{
    display: flex;
    width:auto; 
    gap: 0.5rem
   }
 



    

    

   
  
  
  