@font-face {
  font-family: "JetBrainsMono";
  src: url("../assets/fonts/JetBrainsMono-Bold.ttf");
}
@font-face {
  font-family: "JetBrainsMonoItalic";
  src: url("/assets/fonts/JetBrainsMono-BoldItalic.ttf");
}
@font-face {
  font-family: "JetBrainsMonoItaliac";
  src: url("/assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "JetBrainsMonoVariableFontWeight";
  src: url("/assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
}
.headingL {
  font-family: JetBrainsMono;
  font-size: 32px;
  line-height: 43px;
}

.headingM {
  font-family: JetBrainsMono;
  font-size: 24px;
  line-height: 31px;
}

.bodyM {
  font-family: JetBrainsMono;
  font-size: 18px;
  line-height: 23px;
}

body {
  background-color: rgb(24, 23, 31);
}

.maincontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.passwordgroupbox {
  width: 548px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: 2rem;
}

.passwordheading {
  color: #817D92;
  font-weight: 700;
  width: 100%;
  height: 1em;
  text-align: center;
}

.passwordbox {
  box-sizing: border-box;
  color: #E6E5EA;
  width: 100%;
  height: 80px;
  background-color: rgb(36, 35, 44);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.characterlengthbox {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.characterlegnthtext {
  color: #E6E5EA;
}

.characterlegnth {
  color: #A4FFAF;
  font-style: normal;
  font-weight: 700;
  width: 2em;
  background-color: transparent;
  border: none;
}

.passwordsettingsbox {
  width: 100%;
  height: auto;
  background-color: rgb(36, 35, 44);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding-bottom: 1rem;
}

.checkboxgroup {
  display: flex;
  width: 95%;
  height: auto;
  flex-direction: column;
  align-items: start;
  row-gap: 0.5rem;
}
.checkboxgroup label {
  color: #E6E5EA;
  font-weight: 700;
}
.checkboxgroup input[type=checkbox] {
  accent-color: #A4FFAF;
  height: 20px;
  width: 20px;
  background-color: #A4FFAF;
  background: #A4FFAF;
  color: #A4FFAF;
}

.strengthBar {
  width: 95%;
  height: 4em;
  background-color: #18171F;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

.StrengthBox {
  display: flex;
  width: auto;
  height: auto;
  align-content: center;
  color: #E6E5EA;
}

.strengthText {
  color: #817D92;
  font-weight: 700;
  text-align: left;
}

.generateButton {
  width: 95%;
  height: 65px;
  font-weight: 700;
  background-color: #A4FFAF;
}
.generateButton:hover {
  background-color: rgb(36, 35, 44);
  color: #A4FFAF;
}

.colorbar {
  width: 18px;
  height: 28px;
}

.slidecontainer {
  width: 95%;
}

.copied {
  display: none;
  color: #A4FFAF;
}

input[type=range] {
  width: 90%;
  height: 10px;
  accent-color: #A4FFAF;
  background-color: transparent;
}
input[type=range]:hover {
  opacity: 1;
}

.redcolorbox {
  width: 10px;
  height: 28px;
  background-color: #F64A4A;
  border: green;
  border-width: 10px;
}

.orangecolorbox {
  width: 10px;
  height: 28px;
  background-color: #FB7C58;
  border: green;
  border-width: 10px;
}

.yellocolorbox {
  width: 10px;
  height: 28px;
  background-color: #F8CD65;
  border: green;
  border-width: 10px;
}

.greencolorbox {
  width: 10px;
  height: 28px;
  background-color: #A4FFAF;
  border: green;
  border-width: 10px;
}

.emptycoloxbox {
  width: 10px;
  height: 28px;
  background-color: #E6E5EA;
  border: green;
  border-width: 10px;
}

.strengthbarscontainer {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  padding-right: 2rem;
}

.strengthbars {
  display: flex;
  width: auto;
  gap: 0.5rem;
}

@media (max-width: 600px) {
  .passwordgroupbox {
    width: 400px;
  }
}/*# sourceMappingURL=site.css.map */